<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<appender name ="FileAppender" type="log4net.Appender.FileAppender">
			<file value ="Logs\MyLogFile.txt"/>
			<appendToFile value ="true" />
			<lockingModel type ="log4net.Appender.FileAppender+MinimalLock"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern  value="%date{ABSOLUTE} [%logger] %level - %message%newline%exception="/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR" />
				<levelMax value="ERROR" />
			</filter>
		</appender>
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<connectionType value="System.Data.SQLite.SQLiteConnection, System.Data.SQLite" />
			<connectionString value="Data Source=Logs.db;" />
			<commandText value="INSERT INTO LogEntries (LogDate, Level, Message, Exception) VALUES (@log_date, @level, @message, @exception)" />

			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@level" />
				<dbType value="String" />
				<layout type="log4net.Layout.Layout2" />
			</parameter>
			<parameter>
				<parameterName value="@message" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exception" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%exception" />
				</layout>
			</parameter>

			<!--<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>-->
		</appender>
		<root>
			<level value ="DEBUG"/>
			<appender-ref  ref="FileAppender"/>
			<level value ="INFO" />
			<appender-ref red="AdoNetAppender"/>
		</root>
	</log4net>
</configuration>

